.honda-bg-primary{
    background-color: #264653;
}
.honda-bg-secondary{
    background-color: #E5E5E5;
}
.honda-bg-dark{
    background-color: black;
}
.honda-bg-icon{
    background-color: rgb(231, 111, 81);
}
.honda-text-white{
    color: white;
}
.honda-text-black{
    color: black;
}
.honda-text-orange{
    color: rgb(231, 111, 81);
}
.honda-text-blue{
    color: rgb(36, 166, 240);
}
.btn-honda{
    background-color: rgb(231, 111, 81);
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
}

.grayscale img{
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
    /* Disable grayscale on hover */
.grayscale img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}